doctype html
html
    head
        title Natours #{yo}
        link(rel="stylesheet" href="css/style.css")

    body
        mixin func(hi, yo)
            .dfjkhfhk #{hi} #{yo}

        -const arr = [1,2,3,4,5]

        include _test
        p.yoyoyo hihih
        .bruh ddkdk
        +func("ds", `${yo}`)
        each i in arr
            .dfhjhjfd #{i}